input {
    keyboard {
        xkb {
            // layout "us"
        }

        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    focus-follows-mouse
    workspace-auto-back-and-forth
}
